/* root */

:root{
    --backgound-color-primary : #EED1D1;
    --backgound-color-secondary:#C4C4C4;
    --background-color : #E4D7D7;
    --text-color-primary : #000000;
    --text-color-secondary: #c4c4c4a7;
    --border-radius : 5px;
}

body {
    background-color: var(--backgound-color-primary);
    width: 500px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.form__input {
    width: 100%;
    padding: 2rem;
    background-color: var(--backgound-color-secondary);
    border: 1px solid;
    box-shadow: inset 0 0 25px #6e6c6c1a;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  
  .form__input:focus {
    box-shadow: inset 0 0 25px rgba(0,0,0,.5);
  }
  
  .form__input::placeholder {
    color: rgba(255, 255, 255, .5);
  }
  .counter {
    font-size: 1.7em;
    font-weight: bold;
    border-bottom: 1px solid;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
  }
  
  .task {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 2rem;
    color: black;
    border-radius: 5px;
    margin-bottom: .5rem;
  }
  
  .task--done {
    opacity: .5;
  }
  
  .task--done .task__label {
    text-decoration: line-through;
  }